.card{
    width:13rem;
    margin: 0.5rem;
}

.egg{
    width : 6rem;
    height : 6rem;
}

.eggsTitle{
    font-size: 0.6rem;
}

.eggsText{
    font-size: 0.6rem;
}

.Row{
    margin: 5px;
}

.life{
    width: 1rem;
    margin-bottom: 1rem;
}
